body {
  font-family: sans-serif;
}
#section1 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  min-height: 760px;
  padding: 40px 0;
  background: url(bac1.png) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.section1_overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  background-image: -webkit-linear-gradient(150deg, #88d3ce 0%, #6e45e2 100%);
  background-image: -ms-linear-gradient(150deg, #88d3ce 0%, #6e45e2 100%);
}
.header {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu {
  width: 100%;
  max-width: 768px;
}
.menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.menu li {
  list-style: none;
  text-decoration: none;
  color: #fff;
}
.menu li a {
  position: relative;
  text-decoration: none;
  color: #fff;
}
.menu li a:hover::after {
  position: absolute;
  bottom: -20px;
  left: -100%;
  display: inline-block;
  width: 160px;
  height: 1px;
  content: '';
  background-color: #fff;
}
.menu li a.button_menu {
  padding: 10px 20px;
  border: 1px solid #fff;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.menu li a.button_menu:hover::after {
  display: none;
}
.main_text {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.main_text span {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
}
.main_text span::after {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 1px;
  margin-left: 20px;
  content: '';
  vertical-align: super;
  background-color: #fff;
}
.main_text span::before {
  display: inline-block;
  width: 20px;
  height: 1px;
  margin-right: 20px;
  content: '';
  vertical-align: super;
  background-color: #fff;
}
.main_text h1 {
  font-size: 60px;
  margin: 10px 0;
  padding: 0;
  color: #fff;
}
.main_text h3 {
  font-size: 14px;
  font-weight: 100;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}
.arrow_down {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 64px;
  height: 64px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 18.69px 2.31px rgba(204, 204, 223, 0.5);
  box-shadow: 0 0 18.69px 2.31px rgba(204, 204, 223, 0.5);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
